html,
body,
body{
    align-items: center;
    html {background-color: var(--primary)}
}
.card{
    flex-wrap: wrap;
    height: 40vh;
    width: 30vh;
    margin: 2.5rem 0.5rem;
    background-color: #cb8edd;
    align-items: center;
    display: inline-flex;
    flex-direction:column;
    justify-content: space-between;
}
.container {
    margin: 1rem auto;
    display: flex;
    flex-wrap: wrap;
    html {background-color: var(--primary)}
    align-items: center;
    justify-content: space-around;
}
:root{
  --light: #fbfbfb;
  --dark: #434343;

--primary: var(--light);
--secondary: var(--dark);   
}
.light {
    --primary: var(--light);
    --secondary: var(--light);
}
.dark {
    --primary: var(--dark);
    --secondary: var(--dark);
}
.idk{
    background-color: var(--dark);
}
